*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --font-color: #d8d8d8;
    --paragraph-color: #adadad;
    --background-color: #060606;
    --primary-: #ff227a;
    --paragraph-f-size: .8rem; 
    --heading-f-size: 2rem;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--background-color);
    color: var(--font-color);
}

body.overflow{
    overflow: hidden;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 5em;
}

nav ul li{
    overflow: hidden;
}

nav ul li a{
    transform: translateY(100%);
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.socials{
    width: 100%;
}

.socials h3{
    font-size: 1.4rem;
    font-weight: 100;
    text-align: center;
}

.social-icons{
    display: flex;
    gap: 1.4em;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social-icons i{
    font-size: 2rem;
    background: var(--primary-);
    color: black;
    padding: .1em;
    border-radius: 50%;
    margin-top: .5em;
}

.invert-container{
    display: none;
}

.firstpage{
    height: 100vh;
    background: linear-gradient(to bottom, #0000009b, #0000009b, #0000009b, #0000009b, #0000009b, #0000009b,#000000d1,  black), url(../images/selective-focus-african-american-it-employee-with-headset-working-remote-from-home-website-design-using-programming-technologies-computer-programmer-man-coding-digital-business-server.jpg);
    background-size: cover;
    background-position: center;
}

.hero-section{
    height: 100%;
}

.head{
    display: flex;
    align-items: center;
    padding: 1.5em 1em;
    justify-content: space-between;
}

.head h1{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--primary-);
}

.head h1 i{
    width: 18px;
}

.burger{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;
    z-index: 999;
}

.active .line1{
    transform: translateY(9px) rotate(135deg);
    transition: transform .3s .35s ease-in-out;
}

.active .line2{
    transform: scaleX(0);
    transition: .4s;
}

.active .line3{
    transform: translateY(-7px) rotate(45deg);
    transition: transform .3s .35s ease-in-out;
}

.line1, .line2, .line3{
    width: 2em;
    height: 2px;
    background: white;
    border-radius: .5em;
}

.line1{
    transition: .4s;
}

.line2{
    width: 2.5em;
    transition: transform .4s .4s;
}

.line3{
    transition: .4s;
}

.hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80%;
}

.hero-content p:nth-child(1){
    font-family: 'Dancing Script', cursive;
    color: var(--paragraph-color);
    font-size: 1.7rem;
}

.hero-content h1{
    font-size: 2.7rem;
    font-weight: 500;
    color: white;
    margin: .3em;
}

.hero-content p:nth-child(3){
    font-size: 1.2rem;
    font-weight: 200;
    margin: .5em;
}

.hero-content p:nth-child(3) span{
    color: white;
}

.hero-content button{
    font-size: 1.2rem;
    padding: .4em 1em;
    border-radius: .3em;
    background: var(--primary-);
    border: none;
    margin: 1em;
    color: black;
    box-shadow: 0 0 15px var(--primary-);
}

header{
    display: none;
}

/* second-page */

.page{
    background: linear-gradient(to bottom, #000000, #00000020, #00000020, #00000020,#00000020, #00000020, #00000020, #00000020, #000000), url(../images/sep09.jpg);
    background-size: cover;
    background-position: center;
    padding: 2em 0;
    overflow: hidden;
}

.c1{
    padding: 1em;
    text-align: center;
}

.about-items{
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.about-content h1{
    font-size: var(--heading-f-size);
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
}

.about-content h3{
    font-weight: 300;
    color: var(--paragraph-color);
    margin: .3em 0 1em;
}

.about-content h3 span {
    color: var(--primary-);
    font-weight: 400;
}

.about-content p{
    font-size: .8rem;
    font-weight: 300;
    margin-bottom: 1.5em;
}

.about-content button{
    font-size: 1.2rem;
    padding: .6em 1em;
    border: none;
    border-radius: .3em;
    background: var(--primary-);
    color: black;
    margin-bottom: 1em;
}

.phone-email{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
}

.phone{
    background: #000000ab;
    padding: 1em 0;
    border-radius: 1rem;
}

.phone i{
    font-size: 2rem;
    color: var(--primary-);
}

.phone h4{
    font-size: 1.4rem;
    margin: .3em;
    font-weight: 400;
}

.phone p{
    font-weight: 200;
    letter-spacing: 1px;
    font-size: .8rem;
    color: white;
    text-decoration: none;
}

.about-img{
    margin-top: 1em;
    position: relative;
    width: 100%;
    z-index: 10;
}

.about-img img{
    width: 100%;
    border-radius: 50%;
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
}

.blob{
    position: absolute;
    background: var(--primary-);
    width: 90%;
    height: 80%;
    border-radius: 55% 45% 56% 44% / 33% 34% 66% 67%;
    top: -10%;
    right: 0;
    z-index: -1;
    transform: rotate(20deg);
}

/* third-page */
.c2{
    padding: 1em;
}

.services-header{
    text-align: center;
    margin: 1.2em 0;
}

.services-header h1{
    font-size: var(--heading-f-size);
    font-weight: 500;
}

.services-header p{
    font-weight: 300;
    color: var(--primary-);
}

.services{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.service {
    background: #000000ab;
    border-radius: .6em;
    padding: 8em 2em 2em;
}

.service i{
    font-size: 2rem;
    color: var(--primary-);
}

.service p{
    display: flex;
    gap: .5em;
    align-items: center;
    font-size: var(--paragraph-f-size);
}

.service h2{
    font-size: 1.6rem;
    margin: .5em 0;
    font-weight: 400;
}

.service p i{
    font-size: 1.4rem;
}

/* fourth-page */

.c3{
    padding: 1em;
}

.skills {
    text-align: center;
    margin: 1.2em;
}

.skills h1{
    font-size: 2rem;
    font-weight: 500;
}

.skills p{
    font-size: .9rem;
    font-weight: 300;
}

.skill-content{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.skills-logos{
    text-align: center;
}

.skills-logos i{
    font-size: 3rem;
    color: var(--primary-);
    margin: .5em;
}

.skills-progress{
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}

.progress h3{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .6em;
}

.progress div{
    width: 100%;
    background: #141414;
    border-radius: 1em;
}

.progress div .percentage{
    width: 95%;
    height: 8px;
    background: var(--primary-);
    position: relative;
}

.progress div .percentage p{
    position: absolute;
    bottom: 100%;
    font-weight: 200;
    font-size: .8rem;
    right: 0;
}

.progress .bar2 .percentage{
    width: 85%;
}

.progress .bar3 .percentage{
    width: 70%;
}

.progress .bar4 .percentage{
    width: 80%;
}

.progress .bar5 .percentage {
    width: 70%;
}

.progress .bar6 .percentage {
    width: 60%;
}

.progress .bar7 .percentage {
    width: 50%;
}


/* fifth-page */

.c4{
    padding: 1em;
}

.project-header{
    text-align: center;
    margin-bottom: 2em;
}

.project-header p{
    font-size: .9rem;
    font-weight: 300;
    color: var(--primary-);
}

.project-header h1{
    font-size: 2rem;
    font-weight: 500;
}

.project-items{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.project-content{
    background: url(../images/jk-interior.png);
    background-size: cover;
    background-position: center;
    border-radius: .5em;
    box-shadow: 0 3px 15px black;
}

.portfolio1{
    background: url(../images/portfolio.png);
    background-size: cover;
    background-position: center;
}

.danimex{
    background: url(../images/danimex.png);
    background-size: cover;
    background-position: center;
}

.portfolio2{
    background: url(../images/my-portfolio.png);
    background-size: cover;
    background-position: center;
}

.anime-site{
    background: url(../images/anime-site.png);
    background-size: cover;
    background-position: center;
}

.nature{
    background: url(../images/Screenshot\ 2023-08-15\ at\ 11.59.40.png);
    background-size: cover;
    background-position: center;
}

.project-contents{
    background: #000000ac;
    border-radius: .5em;
    padding: 1em;
}

.project-contents img{
    width: 8%;
}

.project-contents h2{
    font-size: 1.3rem;
    font-weight: 500;
}

.project-contents p{
    font-size: .8rem;
    font-weight: 300;
    margin: .6em 0;
}

.project-contents h3{
    font-size: .9rem;
    margin-bottom: .4em;
}

.project-contents .button a{
    color: black;
}

.project-contents .button button{
    font-size: 1rem;
    padding: .3em .8em;
    border-radius: .3rem;
    border: none;
    background: var(--primary-);
    margin-top: 1em;
    box-shadow: 0 0 15px var(--primary-);
    color: black;
}

/* sixth-page */

.c5{
    padding: 1em;
}

.contact-header{
    text-align: center;
    margin-bottom: 2em;
}

.contact-header p{
    font-size: .9rem;
    color: var(--primary-);
    font-weight: 300;
}

.contact-header h1{
    font-size: 2rem;
    font-weight: 500;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 4em;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.input-box{
    position: relative;
    box-shadow: 0 5px 15px #000000c9;
}

.textarea-box{
    position: relative;
    box-shadow: 0 5px 15px #000000c9;
}

.input-box input, .textarea-box textarea{
    width: 100%;
    padding: 1.2em 1em;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.433);
    outline: none;
    border: none;
    color: white;
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: .3s;
    border-radius: .3em;
}

.input-box label{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    transition: .3s;
}

.textarea-box label{
    position: absolute;
    left: 5%;
    top: 15px;
    font-size: .9rem;
    transition: .3s;
}

.input-box input:focus,
.input-box input:valid,
.textarea-box textarea:focus,
.textarea-box textarea:valid{
    border-bottom: 2px solid var(--primary-);
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    transform: translate(-5%, -50%) translateX(-3px) translateY(-27px);
    font-size: .7rem;
    color: var(--primary-);
}

.textarea-box textarea:focus ~ label,
.textarea-box textarea:valid ~ label{
    transform: translateX(-5px) translateY(-24px);
    font-size: .7rem;
    color: var(--primary-);
}

form button{
    width: 10rem;
    padding: .6em;
    font-size: 1rem;
    border-radius: .5em;
    border: none;
    background: var(--primary-);
    box-shadow: 0 0 15px var(--primary-);
    color: black;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact-item{
    text-align: center;
    padding: 1em;
    background: rgba(10, 10, 10, 0.873);
    border-radius: 1em;
}

.contact-item i{
    font-size: 1.8rem;
    color: var(--primary-);
}

.contact-item p{
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.contact-item h4{
    font-size: 1.4rem;
    margin: .3em;
    font-weight: 400;
}

.contact-icons{
    display: flex;
    justify-content: center;
    gap: .7em;
}


/* footer */
footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0e0e0e;
}

footer p{
    font-size: .8rem;
    display: flex;
    align-items: center;
}

a.back-top{
    text-decoration: none;
    color: white;
}

i.bxs-arrow-from-bottom{
    padding: .3em;
    font-size: 2rem;
    color: var(--primary-);
    background: #0e0e0e;
    border-radius: 50%;
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 999;
}


@media screen and (min-width: 769px){

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul{
        gap: 3em;
    }

    nav ul li a{
        font-size: 1.7rem;
        font-weight: 200;
        display: inline-block;
        transform: translateY(150%);
    }

    .socials{
        width: unset;
    }

    .socials h3{
        margin-bottom: 2em;
    }

    .social-icons{
        display: flex;
        flex-direction: column;
    }

    .hero-content h1{
        font-size: 3.5rem;
    }

    .hero-content p:nth-child(1){
        font-size: 2rem;
    }

    .hero-content p:nth-child(3){
        font-size: 1.3rem;
    }

    .hero-content button{
        font-size: 1.5rem;
        padding: .3em 1.2em;
    }

    .page{
        padding: 4em 0;
    }

    .c1{
        text-align: left;
    }

    .about-content h1{
        font-size: 2.2rem;
    }

    .phone{
        text-align: center;
    }

    .about-items{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3em;
    }

    .about-content{
        width: 45%;
    }

    .about-img{
        width: 48%;
    }

    .phone{
        padding: .5em 0;
    }

    .services-header{
        margin-bottom: 2em;
    }

    .services-header h1{
        font-size: 2.2rem;
    }

    .flex{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .services{
        width: 90%;
        margin: 0 auto;
    }

    .service{
        width: 50%;
    }

    .skills h1{
        font-size: 2.2rem;
    }

    .project-header h1{
        font-size: 2.2rem;
    }

    .project-items{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }

    .contact-header h1{
        font-size: 2.2rem;
    }

    .box{
        display: flex;
        flex-direction: row;
    }

    .input-box{
        width: 100%;
    }
    
    form button{
        width: 12rem;
        padding: .7em;
        margin: .5em auto 0;
        font-weight: 600;
    }

    .contacts{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .contact-item{
        width: 100%;
    }

}

@media screen and (min-width: 1024px){

    .container{
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
    }

    .firstpage{
        display: flex;
    }

    .hero-section{
        width: 80%;
    }

    nav{
        position: relative;
        opacity: 1;
        pointer-events: all;
         width: 25%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         overflow: hidden;
         background: #0c0c0c;
    }

    nav ul {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: unset;
        gap: 2.4em;
    }

    nav ul li {
        position: relative;
        list-style: none;
    }


    nav ul li a {
        display: unset;
        transform: translateY(0);
        font-weight: 300;
        font-size: 1.4rem;
        letter-spacing: 2px;
        margin: 0 .5em;
        line-height: 1em;
        color: white;
    }


    nav ul li a::before {
        content: attr(data-text);
        position: absolute;
        color: var(--primary-);
        width: 0;
        overflow: hidden;
        transition: .7s;
        border-right: 1px solid var(--primary-);
        -webkit-text-stroke: 1px var(--primary-);
    }

    nav ul li a:hover::before {
        width: 100%;
    } 

    .socials h3{
        margin-bottom: .1em;
    }

    .social-icons{
        flex-direction: row;
        gap: 1em;
    }

    .burger{
        display: none;
    }

    header{
        display: unset;
        position: sticky;
        top: 0;
        z-index: 999;
    }

    .header{
        background: #0c0c0c;
        box-shadow: 0 4px 20px black;
        width: 100%;
    }

    .c1-header{
        padding: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .c1-header h1{
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 500;
        color: var(--primary-);
    }

    .c1-header ul{
        display: flex;
        align-items: center;
        gap: 4em;
        list-style: none;
    }

    .c1-header ul li a{
        text-decoration: none;
        color: white;
        font-weight: 300;
        position: relative;
    }

    .c1-header ul li a::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: var(--primary-);
        bottom: -14%;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .3s ease;
    }

    .c1-header ul li a:hover::after{
        transform: scaleX(1);
        transform-origin: left;
    }

    .about-items{
        height: 100%;
        padding: 8em 0;
    }

    .about-content{
        width: 50%;
    }

    .about-content h1{
        font-size: 3rem;
    }

    .about-content h3{
        font-size: 1.5rem;
    }

    .about-content p{
        font-size: .9rem;
    }

    .about-img{
        width: 48%;
    }

    .phone{
        display: none;
    }

    .services-header h1{
        font-size: 3rem;
    }

    .services{
        width: 80%;
    }

    .c6{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c2{
        padding: 2em 1em;
    }

    .c3{
        padding: 4em 1em 5em;
    }

    .skill .skills h1 {
        font-size: 3.5rem;
    }

    .skill .skill-content {
        display: flex;
        flex-direction: row;
        margin-top: 3.5em;
    }

    .skill-content .skills-logos {
        width: 35%;
    }

    .skill-content .skills-progress {
        width: 65%;
    }

    .skills-progress{
        gap: 2.5em;
    }

    .c4{
        padding: 5em 1em;
    }

    .project-header{
        margin-bottom: 4em;
    }

    .project-content{
        overflow: hidden;
        cursor: pointer;
    }

    .project-content:hover .project-contents{
        transform: translateX(0);
    }

    .project-contents{
        height: 100%;
        transform: translateX(100%);
        transition: .3s ease-in-out;
    }

    .project-contents .button a button{
        cursor: pointer;
    }

    .project-header h1{
        font-size: 3rem;
    }

    .project-header p{
        font-size: 1rem;
    }

    .project-items{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }

    .contact-header h1{
        font-size: 3rem;
    }

    .contact-header p{
        font-size: 1rem;
    }

    .c5{
        padding: 3em 1em;
    }

    form{
        width: 80%;
        margin: 0 auto 3em auto;
    }

    form button{
        cursor: pointer;
        transition: .3s;
    }

    form button:hover{
        box-shadow: 0 2px 15px var(--primary-),
                     0 2px 25px var(--primary-);
    }
}