*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --font-color: #d8d8d8;
    --paragraph-color: #adadad;
    --background-color: #060606;
    --primary-: #ff227a;
    --paragraph-f-size: .8rem; 
    --heading-f-size: 2rem;
}

body{
    background: var(--background-color);
    color: var(--font-color);
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 5em;
}

nav ul li{
    overflow: hidden;
}

nav ul li a{
    transform: translateY(100%);
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.socials{
    width: 100%;
}

.socials h3{
    font-size: 1.4rem;
    font-weight: 100;
    text-align: center;
}

.social-icons{
    display: flex;
    gap: 1.4em;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social-icons i{
    font-size: 2rem;
    background: var(--primary-);
    color: black;
    padding: .1em;
    border-radius: 50%;
    margin-top: .5em;
}

.invert-container{
    display: none;
}

.firstpage{
    height: 100vh;
    background: linear-gradient(to bottom, #0000009b, #0000009b, #0000009b, #0000009b, #0000009b, #0000009b,#000000d1,  black), url(../images/selective-focus-african-american-it-employee-with-headset-working-remote-from-home-website-design-using-programming-technologies-computer-programmer-man-coding-digital-business-server.jpg);
    background-size: cover;
    background-position: center;
}

.hero-section{
    height: 100%;
}

.head{
    display: flex;
    align-items: center;
    padding: 1.5em 1em;
    justify-content: space-between;
}

.head h1{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--primary-);
}

.head h1 i{
    width: 18px;
}

.burger{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;
    z-index: 999;
}

.active .line1{
    transform: translateY(9px) rotate(135deg);
    transition: transform .3s .35s ease-in-out;
}

.active .line2{
    transform: scaleX(0);
    transition: .4s;
}

.active .line3{
    transform: translateY(-7px) rotate(45deg);
    transition: transform .3s .35s ease-in-out;
}

.line1, .line2, .line3{
    width: 2em;
    height: 2px;
    background: white;
    border-radius: .5em;
}

.line1{
    transition: .4s;
}

.line2{
    width: 2.5em;
    transition: transform .4s .4s;
}

.line3{
    transition: .4s;
}

.hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80%;
}

.hero-content p:nth-child(1){
    font-family: 'Dancing Script', cursive;
    color: var(--paragraph-color);
    font-size: 1.7rem;
}

.hero-content h1{
    font-size: 2.7rem;
    font-weight: 500;
    color: white;
    margin: .3em;
}

.hero-content p:nth-child(3){
    font-size: 1.2rem;
    font-weight: 200;
    margin: .5em;
}

.hero-content p:nth-child(3) span{
    color: white;
}

.hero-content button{
    font-size: 1.3rem;
    padding: .3em 1em;
    border-radius: .3em;
    background: var(--primary-);
    border: none;
    margin: 1em;
    color: black;
}

header{
    display: none;
}

/* second-page */

.page{
    background: linear-gradient(to bottom, black, #0000008d, transparent, transparent, transparent, transparent, transparent, transparent, #00000084, black), url(../images/sep09.jpg);
    background-size: cover;
    background-position: center;
    padding: 2em 0;
    overflow: hidden;
}

.c1{
    padding: 1em;
    text-align: center;
}

.about-items{
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.about-content h1{
    font-size: var(--heading-f-size);
    font-weight: 500;
    color: white;
    /* color: transparent;
    -webkit-text-stroke: 1px white;
    position: relative; */
    letter-spacing: 1px;
}

/* .about-content h1::after{
    content: 'About';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    color: white;
    font-weight: 400;
    border-right: 1px solid white;
    overflow: hidden;
    opacity: 0;
    width: 0;
    transition: .5s;
} */

.about-content h3{
    font-weight: 300;
    color: var(--paragraph-color);
    margin: .3em 0 1em;
}

.about-content h3 span {
    color: var(--primary-);
    font-weight: 400;
}

.about-content p{
    font-size: .8rem;
    font-weight: 300;
    margin-bottom: 1.5em;
}

.about-content button{
    font-size: 1.2rem;
    padding: .6em 1em;
    border: none;
    border-radius: .3em;
    background: var(--primary-);
    color: black;
    margin-bottom: 1em;
}

.phone-email{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
}

.phone{
    background: #000000ab;
    padding: 1em 0;
    border-radius: 1rem;
}

.phone i{
    font-size: 2rem;
    color: var(--primary-);
}

.phone h4{
    font-size: 1.4rem;
    margin: .3em;
    font-weight: 400;
}

.phone p{
    font-weight: 200;
    letter-spacing: 1px;
    font-size: .8rem;
    color: white;
    text-decoration: none;
}

.about-img{
    margin-top: 1em;
    position: relative;
    width: 100%;
    z-index: 10;
}

.about-img img{
    width: 100%;
    border-radius: 50%;
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
}

.blob{
    position: absolute;
    background: var(--primary-);
    width: 90%;
    height: 80%;
    border-radius: 55% 45% 56% 44% / 33% 34% 66% 67%;
    top: -10%;
    right: 0;
    z-index: -1;
    transform: rotate(20deg);
}

/* third-page */
.c2{
    padding: 1em;
}

.services-header{
    text-align: center;
    margin: 1.2em 0;
}

.services-header h1{
    font-size: var(--heading-f-size);
    font-weight: 500;
}

.services-header p{
    font-weight: 300;
    color: var(--primary-);
}

.services{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.service {
    background: #000000ab;
    border-radius: .6em;
    padding: 8em 2em 2em;
}

.service i{
    font-size: 2rem;
    color: var(--primary-);
}

.service p{
    display: flex;
    gap: .5em;
    align-items: center;
    font-size: var(--paragraph-f-size);
}

.service h2{
    font-size: 1.6rem;
    margin: .5em 0;
    font-weight: 400;
}

.service p i{
    font-size: 1.4rem;
}

/* fourth-page */

.c3{
    padding: 1em;
}

.skills {
    text-align: center;
    margin: 1.2em;
}

.skills h1{
    font-size: 2rem;
    font-weight: 500;
}

.skills p{
    font-size: .9rem;
    font-weight: 300;
}

.skill-content{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.skills-logos{
    text-align: center;
}

.skills-logos i{
    font-size: 3rem;
    color: var(--primary-);
    margin: .5em;
}

.skills-progress{
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}

.progress h3{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .6em;
}

.progress div{
    width: 100%;
    background: #000000;
    border-radius: 1em;
}

.progress div .percentage{
    width: 80%;
    height: 8px;
    background: var(--primary-);
    position: relative;
}

.progress div .percentage p{
    position: absolute;
    bottom: 100%;
    font-weight: 200;
    font-size: .8rem;
    right: 0;
}

.progress .bar2 .percentage{
    width: 70%;
}

.progress .bar3 .percentage{
    width: 60%;
}

.progress .bar4 .percentage{
    width: 55%;
}

.progress .bar5 .percentage {
    width: 59%;
}

.progress .bar6 .percentage {
    width: 40%;
}

.progress .bar7 .percentage {
    width: 25%;
}


/* fifth-page */

.c4{
    padding: 1em;
}

.project-header{
    text-align: center;
    margin-bottom: 2em;
}

.project-header p{
    font-size: .9rem;
    font-weight: 300;
    color: var(--primary-);
}

.project-header h1{
    font-size: 2rem;
    font-weight: 500;
}

.project-items{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.project-content{
    background: url(../images/jk-interior.png);
    background-size: cover;
    background-position: center;
    border-radius: .5em;
    box-shadow: 0 3px 15px black;
}

.portfolio1{
    background: url(../images/portfolio.png);
    background-size: cover;
    background-position: center;
}

.danimex{
    background: url(../images/danimex.png);
    background-size: cover;
    background-position: center;
}

.portfolio2{
    background: url(../images/my-portfolio.png);
    background-size: cover;
    background-position: center;
}

.anime-site{
    background: url(../images/anime-site.png);
    background-size: cover;
    background-position: center;
}

.project-contents{
    background: #000000ac;
    border-radius: .5em;
    padding: 1em;
}

.project-contents img{
    width: 8%;
}

.project-contents h2{
    font-size: 1.3rem;
    font-weight: 500;
}

.project-contents p{
    font-size: .8rem;
    font-weight: 300;
    margin: .6em 0;
}

.project-contents h3{
    font-size: .9rem;
    margin-bottom: .4em;
}

.project-contents .button a{
    color: black;
}

.project-contents .button button{
    font-size: 1rem;
    padding: .3em .8em;
    border-radius: .3rem;
    border: none;
    background: var(--primary-);
    margin-top: 1em;
    box-shadow: 0 0 15px var(--primary-);
    color: black;
}

/* sixth-page */

.c5{
    padding: 1em;
}

.contact-header{
    text-align: center;
    margin-bottom: 2em;
}

.contact-header p{
    font-size: .9rem;
    color: var(--primary-);
    font-weight: 300;
}

.contact-header h1{
    font-size: 2rem;
    font-weight: 500;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 4em;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.input-box{
    position: relative;
    box-shadow: 0 5px 15px #000000c9;
}

.textarea-box{
    position: relative;
    box-shadow: 0 5px 15px #000000c9;
}

.input-box input, .textarea-box textarea{
    width: 100%;
    padding: 1.2em 1em;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.433);
    outline: none;
    border: none;
    color: white;
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: .3s;
    border-radius: .3em;
}

.input-box label{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    transition: .3s;
}

.textarea-box label{
    position: absolute;
    left: 5%;
    top: 15px;
    font-size: .9rem;
    transition: .3s;
}

.input-box input:focus,
.input-box input:valid,
.textarea-box textarea:focus,
.textarea-box textarea:valid{
    border-bottom: 2px solid var(--primary-);
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    transform: translate(-5%, -50%) translateX(-3px) translateY(-27px);
    font-size: .7rem;
    color: var(--primary-);
}

.textarea-box textarea:focus ~ label,
.textarea-box textarea:valid ~ label{
    transform: translateX(-5px) translateY(-24px);
    font-size: .7rem;
    color: var(--primary-);
}

button{
    width: 10rem;
    padding: .6em;
    font-size: 1rem;
    border-radius: .5em;
    border: none;
    background: var(--primary-);
    box-shadow: 0 0 15px var(--primary-);
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact-item{
    text-align: center;
    padding: 1em;
    background: rgba(0, 0, 0, 0.649);
    border-radius: 1em;
}

.contact-item i{
    font-size: 1.8rem;
    color: var(--primary-);
}

.contact-item p{
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.contact-item h4{
    font-size: 1.4rem;
    margin: .3em;
    font-weight: 400;
}

.contact-icons{
    display: flex;
    justify-content: center;
    gap: .7em;
}


/* footer */
footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0e0e0e;
}

footer p{
    font-size: .8rem;
    display: flex;
    align-items: center;
}